[MASTER]
ignore = tests, docs, env
load-plugins = pylint.extensions.bad_builtin

[FORMAT]
max-line-length = 120

[MESSAGES CONTROL]
disable = import-error, no-name-in-module, wrong-import-position, relative-beyond-top-level